<!--
  Generated template for the ViewPackagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title style="text-align:center">Bike Service</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="badge">
  <ion-item style="margin-top: -5px;" no-lines>
    <ion-icon ios="ios-locate" md="md-locate" style="color: black"></ion-icon>
    <b style="color: black">Hyderabad</b>
    <ion-badge item-end style="background-color: #01040a;">Change</ion-badge>
  </ion-item>
  <p text-center padding style="margin-top:-5px"><b>Help us understand your requirement</b></p>
  <ion-card radio-group padding [(ngModel)]="capacity" ngDefaultControl style="margin-top:-1em">
    <p text-center><b>What is the capacity of your bike?</b></p>
    <ion-item>
      <ion-radio value="Upto 100CC" disable="true"></ion-radio>
      <ion-label>Upto 100CC </ion-label>
    </ion-item>
    <ion-item>
      <ion-radio value="More than 150CC"></ion-radio>
      <ion-label>More than 150CC</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio value="Royal Enfield"></ion-radio>
      <ion-label>Royal Enfield</ion-label>
    </ion-item>
  </ion-card>
  <!-- - 180CC -->
  <p text-center>On which day do you want the service?</p>
  <div class="row" style="margin-left: 1em">
    <button ion-button round *ngFor="let day of slot_days" (click)="selectDay(day.label)" [ngClass]="{'selected-day': day.isSelected}"
      [disabled]="day.disable" color="white" class="btnsize" >
      {{day.label}}
      <ion-datetime *ngIf="day.calander" (ionChange)="selectDay('Future',$event)" 
        displayFormat="DD/MM/YYYY"
        [min]="moment().add(2, 'days').format('YYYY-MM-DD')" 
        [max]="moment().add(2, 'month').format('YYYY-MM-DD')"
        [ngClass]="{'selected-day': day.isSelected}">
      </ion-datetime>
    </button>
  </div>
  <p text-center>Your preferred time?</p>
  <div class="container">
    <div class="row">
      <button ion-button type="button" round *ngFor="let slot of slots"  [disabled]="timeEnable"
        [ngClass]="{'selected-day': slot.isSelected}" color="white" class="btnsizetime"
        (click)="selectTime(slot)" >{{slot.label}}</button>
    </div>
  </div>

  <button ion-button color="danger" full [disabled]="disabledPackageBtn || !capacity" (click)="choosePackage()">Choose A Package</button>

</ion-content>