page-view-package {
.rr {
    border-radius: 5px;
}
.badge {
     background-color: #e7e7e9e3;
}
.btnsize{
    color:rgb(18, 18, 129);
  width: 6em; 
  height: 30px;
}
.btnsizetime{
color:rgb(18, 18, 129);
  width: 7em; 
  height: 35px;
}

.selected-day{
  color: white;
  background-color: crimson;
}
}
